<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>ESIConcerts</title>
    <link rel="stylesheet" th:href="@{/css/all.css}" />
</head>
<body>
    <header>
        <h1>ESIConcerts - Catalogue des concerts</h1>
    </header>
    <nav>
        <ul class="menu">
            <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
            <li><a href="/concerts">Concerts</a></li>
        </ul>
    </nav>
    <main layout:fragment="content">
        
    </main>
    <footer>HE2B/ÉSI - 3WEB2a - Janvier 2025 - gXXXXX</footer>
</body>
</html>